@import '../../../theme.scss';

.burger {
  display: block;
  position: relative;
}

.burger_icon {
  display: inline-block;
  padding: .6rem;

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}

/* Rotate the burger bars*/
.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  .bar2 {
  opacity: 0;
  }
  .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
}

.menu_div {
  display: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

.open {
  display: block;
}

.nav {
  width: 100vw;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
    color: $ivory;

    &.active {
      background-color: $keppel;
    }

    &:hover {
      background-color: $keppel;
      transform: scale(1.25);
    }
    
    &:visited {
      color: $ivory;
    }
    
    &:active {
      background-color: rgb(253, 253, 253);
    }
  }
}

@media only screen and (min-width: 900px) {
  .burger_icon {
    display: none;
  }

  .menu_div {
    display: inline-block;
    position: static;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

}
