@import '../../theme.scss';

.quantityPicker {
  display: flex;
  height: 100%;

  button,
  label {
    font-size: 1.5rem;
    flex: 1;
  }

  button {
    border: none;
    color: white;
    background-color: $cinnabar;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bolder;
  }

  button:disabled {
    background-color: $onyx;
  }

  button:hover:enabled {
    background-color: rgb(48, 190, 112);
  }

  label {
    display: inline-block;
    min-width: 100px;
  }
}
