@import '../../theme.scss';
$splash : 'https://www.active.com/Assets/nutrition/fruits-veggies.jpg';

.about_page {
  display: flexbox;
  flex-direction: column;

}

.splash {
  width: 100vw;
  margin: 4rem 0;
  background-image: url($splash);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_content {
    display: block;
    padding: 2rem 1rem;
    background: rgba(63, 57, 57, 0.7);
    color: white;
    font-size: 1.5rem;
    
    h1 {
      font-size: 4rem;
    }

    p {
      padding: 1rem;
    }
    
    button {
      color: white;
      font-size: 2rem;
      background-color: cadetblue;
      padding: 1rem;
      border-radius: 10px;
    }
  }

}

.info_text {
  p {
    padding: 1rem;
  }
}