@import './theme.scss';

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  
  h1,h2,h3,h4,h5,h6, p {
    margin: 0;
  }
}

.main {
  margin: 0 auto;
  background-color: $keppel;
  flex: 1;
}
